[2015-07-04 13:06] Akira-Webster opened #1 "Add Steam provider"
Because the asp.net team has implemented their UseOpenIdConnectAuthentication() middleware to use only OAuth2 and OpenID Connect (based on OAuth2) which means it is not compatible with providers like STEAM that use OpenID 2.0.

There seems to be some other interest in this as well. REF: http://stackoverflow.com/questions/31101803/implementing-openid-in-asp5

I believe this makes more sense to supp

[2015-07-06 13:19] PinpointTownes commented on #1
Thanks for the suggestion!

OAuth2 providers are definitely our main priority, but I'll make sure to upload a working OpenID 2.0 base handler as soon as possible. Implementing specific providers like Steam should be far easier with a common design.

/cc @jerriep

[2015-07-07 02:09] PinpointTownes commented on #1
FYI, I almost finished the first prototype of the OpenID 2.0 base handler and it works fine with Steam.

I'll probably send a PR tomorrow and ask @jerriep to take a look :smile:

[2015-07-07 02:11] jerriep commented on #1
Cool :) I'll be travelling quite a bit though for the next 4 days, but should be able to fit in something inbetween

[2015-07-07 13:04] PinpointTownes commented on #1
@Akira-Webster the Steam provider is done, but I'd like to test it. Could you please create an API key and share it?
You can join https://gitter.im/aspnet-contrib/AspNet.Security.OpenId.Providers and send it via PM if you prefer.

[2015-07-07 13:28] Akira-Webster commented on #1
@PinpointTownes below is one of my development keys it will be revoked in 10 days. Please let me know if you need longer then that.

D929B1E7DFCC5FABB23DE7969F813E5E

[2015-07-07 15:48] PinpointTownes commented on #1
Thank you, that was really helpful :smile:

If you're interested in using the early bits of the Steam provider, you can take a look at this sample: https://github.com/PinpointTownes/AspNet.Security.OpenId.Providers/tree/sample

Don't hesitate to brutalize it but please don't use it for a production app :smile:
Feel free to share your remarks and criticisms.

[2015-07-15 18:12] PinpointTownes opened #3 "Add a new OpenID 2.0 generic authentication middleware"

[2015-07-15 18:20] #3 closed

[2015-07-15 18:35] kevinchalet opened #5 "Add Wargaming provider"
Moved from https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/21.

[2015-07-16 18:49] #1 closed

[2015-07-16 19:18] kevinchalet opened #7 "Add OpenID Simple Registration support"
https://openid.net/specs/openid-simple-registration-extension-1_0.html

[2015-08-10 11:23] PinpointTownes opened #8 "Add unit/functional tests"

[2015-11-19 22:21] PinpointTownes opened #9 "Add missing code documentation"

[2016-01-04 04:00] #9 closed

[2016-02-24 14:39] PinpointTownes opened #12 "Implement better error handling"
We should catch `openid.mode=error` responses and log the exact error message contained in the `openid.error` property.

https://openid.net/specs/openid-authentication-2_0.html#indirect_comm

[2016-02-24 22:07] PinpointTownes commented on #12
Done: https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/commit/3ba72d8216eb3e093918cf24fdea06e80f8cde48 :clap:

[2016-02-24 22:07] #12 closed

[2016-02-24 22:09] kevinchalet opened #13 "Add missing notifications"
Ideally, we should implement the same notifications as the OpenID Connect middleware: https://github.com/aspnet/Security/blob/dev/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/Events/IOpenIdConnectEvents.cs.

[2016-04-16 01:56] PinpointTownes commented on #7
Postponed.

[2016-04-16 01:58] PinpointTownes commented on #12
Included in 1.0.0-alpha4.

[2016-04-16 01:58] PinpointTownes commented on #9
Included in 1.0.0-alpha4.

[2016-05-25 12:39] Lorac commented on #5
Will do.

[2016-09-27 14:08] NachoVazquez opened #25 "Getting Data From Authentication"
Please I'm struggling trying to get the data from the authenticated user could you made an tutorial explaining this. Thanks.

[2016-09-28 17:34] PinpointTownes commented on #25
Unfortunately, writing a tutorial needs time. Much more than I can dedicate to this project at this moment.

Have you tried the MVC sample?

[2016-10-01 15:53] j2ghz commented on #25
I have a similar problem. I created a new project `.NET Core` > `ASP.NET Core Web Application (.NET Core)` > `Web Application (Change Authentication > Individual User Accounts)`, I added this nuget package and added a line to Startup.cs:
[code]
But I get just one claim from steam and that is
[code]

[2016-10-02 09:57] PinpointTownes commented on #25
@j2ghz you should at least get one claim: `ClaimTypes.NameIdentifier` (http://schemas.xmlsoap.org/ws/2005/05/identity/claims/nameidentifier)

To get more claims, create a new app via Steam's portal and register the application key you get in the Steam options:

[code]

[2016-10-03 14:14] NachoVazquez commented on #25
I did exactly what the MVC example shows, my problem is that when the OpenId server redirects to my page  none controller catch the request and for that reason I can't get the values. Debugging I can see that I already have the values but I can access them from any controller.
Thanks Again and sorry for my English if I made any mistakes.

[2016-10-03 14:52] NachoVazquez commented on #25
This is what I get when the server redirects me, this with a white page. As you can see the address contains the data that I looking for, but I can't find a way to get it.
Also I have to say that i have to alter some constants in the implementation of the client because the server had some other values, for example **openid.alias3** instead of **openid.ax**

http://localhost:10610/openid?state=CfD

[2016-10-04 09:31] j2ghz opened #26 "ASP.NET Identity"
I have a similar problem as #25. I created a new project `.NET Core` > `ASP.NET Core Web Application (.NET Core)` > `Web Application (Change Authentication > Individual User Accounts)`, I added this nuget package and added a line to Startup.cs:
[code]
But I get just one claim from steam and that is
[code]

[2016-10-04 09:32] j2ghz commented on #25
I moved my issue so it doesn't get mixed

[2016-10-04 09:45] j2ghz commented on #26
I tried https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/issues/25#issuecomment-250963404, now I get user name as well, but still no steam id

It appears to be a problem with ASP.NET Identity
These are all the claims I can access in User object in Controllers and Views:
[code]
When receiving the callback from Steam when authenticating, using `signInManager.GetExternalLoginInfoAsy

[2016-10-09 16:03] PinpointTownes commented on #25
@NachoVazquez the payload looks fine. If you're getting a blank page, make sure the `CallbackPath` setting is correct in the OpenID middleware options.

Note: only the claimed identifier will be automatically stored as a claim. To store the other values (e.g the role), you'll have to use the `Authenticated` event to add a custom claim:

[code]

![image](https://cloud.githubusercontent.com/assets/6

[2016-10-09 16:05] PinpointTownes commented on #26
That's expected because ASP.NET Core Identity doesn't persist the external provider claims (it's something you must do yourself)

You can read https://github.com/aspnet/Identity/issues/628 for more information.

[2016-10-16 17:37] #25 closed

[2016-10-16 17:37] #26 closed

[2016-12-15 20:29] StummeJ commented on #26
aspnet/Identity#628 is exactly the problem!

[2017-01-05 18:52] bkonzUNOmaha opened #28 "Getting Steam User Data"
I made a demo .net core framework application using this and intigrated it with the code provided in the sample in this repo. I got as far as bringing up the steam page for loggining in, but when the login in a success and the site redirects the user, I have no way to view the user data. The sample code uses `@if (User?.Identity?.IsAuthenticated ?? false)`, but when I try that the code always goes

[2017-01-07 16:26] bkonzUNOmaha commented on #28
So I figured out that problems were happening when I was using steam authentication with identity. Once I removed the identity calls from `startup.cs`, everything worked. Is there a way to use steam authentication along with Identity?

[2017-01-07 16:39] PinpointTownes commented on #28
The Steam provider works exactly like any other authentication middleware, so I'd recommend having a look at the Identity samples/templates that use external authentication to see how you're supposed to integrate things.

[2017-01-08 02:50] bkonzUNOmaha commented on #28
So I made a new project and added some of the started code in the sample so that Steam shows up as another service to log in, however I seem to be having the same problem as issue as #26, where my claims show that the user is associated with steam, but I cannot get any information other than `http://schemas.microsoft.com/ws/2008/06/identity/claims/authenticationmethod: Steam`. Since I am using ASP

[2017-04-18 19:22] PinpointTownes opened #33 "Consider throwing an exception if no valid sign-in scheme can be found"

[2017-04-19 15:19] PinpointTownes commented on #33
Done: https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/commit/d57e2e0145adb308820152bcb5dc081fce708fc90.

[2017-04-19 15:19] #33 closed

[2017-06-11 13:26] kevinchalet commented on #28
`GetExternalLoginInfoAsync()` is defined here: https://github.com/aspnet/Identity/blob/1.0.0/src/Microsoft.AspNetCore.Identity/SignInManager.cs#L438.

[2017-06-11 13:26] #28 closed

[2017-08-14 10:46] kevinchalet opened #34 "Port the social providers to the new ASP.NET Core 2.0 authentication stack"

[2017-08-31 10:39] mrphil2105 commented on #34
Yes please update it, that would be awesome. I can't really get my asp.net core 2.0 website any further without this.

[2017-08-31 11:34] kevinchalet commented on #34
@mrphil2105 I currently don't have the bandwidth needed to make that happen. Would you be interested in contributing or funding the work?

[2017-09-01 20:27] mrphil2105 commented on #34
Hmm, I would love to contribute, but Asp.Net Core is still fairly new to me, so I don't know much of the authentication stuff. Though I do code C# fluently.

[2017-09-13 14:50] kevinchalet commented on #34
Done thanks to @kinosang! :clap:

Packages are being created at this moment and will be available on our MyGet nightly builds feed.

[2017-09-13 14:50] #34 closed, assigned to nobody

[2017-09-15 06:45] mrphil2105 commented on #34
Thanks a ton @kinosang

[2017-09-30 21:57] shravan2x opened #36 "Update NuGet package"
The current update with support for the updates for ASP.NET Core 2.0 is not live on NuGet. Could this be published?

[2017-10-02 11:49] kevinchalet commented on #36
Not before all the OAuth2 providers are ported to 2.0. You can track the progress here: https://github.com/aspnet-contrib/AspNet.Security.OAuth.Providers/issues/170.

[2017-10-02 23:12] shravan2x commented on #36
Okay, thanks for letting me know. I'll close this issue and subscribe to the other one.

[2017-10-02 23:12] #36 closed, assigned to nobody

[2017-11-10 13:43] medokin opened #37 "Exception: sub claim is missing"
Core 2.0
IdentityServer4: 2.02
AspNet.Security.OpenId.Providers.Steam: 2.0.0-rc2-0208

Getting this when trying to login with Steam:

[code]

[code]

[2017-11-10 18:52] kevinchalet commented on #37
Wrong repository? The exception message comes from IdentityServer, so not sure what it has to do with this project.

[2017-11-21 16:46] #37 closed, assigned to nobody

[2017-11-21 22:45] shravan2x commented on #34
@PinpointTownes Any update on when the NuGet packages will be out?

[2017-11-22 04:09] kinosang commented on #34
@shravan2x packages already published on myget.

[2017-11-22 13:08] shravan2x commented on #34
@kinosang Are there any plans of pushing to nuget?

[2017-11-22 13:12] shravan2x commented on #34
@kinosang I see. Any idea when the official release date of 2.0 on nuget is?

[2017-11-22 13:20] kinosang commented on #34
@shravan2x I don't know, @PinpointTownes may have roadmap for that.

[2017-12-13 02:34] jeremywhittington opened #38 "ASP.NET Core 2.0"
Will this work with ASP.NET Core 2.0?

[2017-12-13 02:35] kevinchalet commented on #38
Yes. See https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/issues/34 for more information.

[2017-12-13 02:35] #38 closed, assigned to nobody

[2017-12-13 03:43] jeremywhittington opened #39 "Steam Login Button"
Would it be possible to change the output of the Steam Login Button to be an image?

[2017-12-13 06:32] kinosang commented on #39
Providers does not control the "output" of login buttons, it depends on your views.

[2017-12-18 18:07] #39 closed, assigned to nobody

[2017-12-18 18:07] kevinchalet commented on #34
The OpenID2 and OAuth2 providers for 1.0 and 2.0 have been pushed to NuGet.org.

[2018-03-04 18:35] proviste opened #41 "Users are signed out when website is restarted"
Steam authentication,
.net core 2
asp.net core 2

The users stay authenticated as long as the site is not restarted. When the website is restarted, the users have to sign in again.

The sample project exhibits the same behavior

[2018-03-04 18:42] kevinchalet commented on #41
Read https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/iis/?tabs=aspnetcore2x#data-protection.

[2018-03-04 18:42] #41 closed, assigned to nobody

[2018-04-06 19:16] Zexuz opened #43 "Has steam has changes the return data?"
AspNet.Security.OpenId.Steam.SteamAuthenticationHandler[0]
      The userinfo request was skipped because an invalid identifier was received: https://steamcommunity.com/openid/id/<steamid>.

It was **http**://steamcommu... before.

I think the problem lies here. https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/blob/a1936973ad02b37b233eb900ae4fbc65d814993f/src/AspNet.Security.Open

[2018-04-11 11:03] #43 closed, assigned to kevinchalet

[2018-04-11 16:28] proviste commented on #43
Merci

[2018-05-20 21:27] shravan2x opened #46 "Ability to use multiple API keys"
The user information endpoint seems to have been rate limited recently, but it returns a `403 Forbidden`, not `429 Too Many Requests`. Could the option to cycle multiple API keys be added?

I can submit a PR if it'll fast track the process.

[2018-05-22 02:42] dillonwd6086 opened #47 "OpenId.Steam fails to load user data"
I have added the service like
`              .AddSteam(options =>
                {
                    options.UserInformationEndpoint = SteamAuthenticationDefaults.UserInformationEndpoint;
                    options.ApplicationKey = "*Correct Key*";
                });
`
It works correctly and creates a valid cookie, however when trying to load the data from the steam api I receive the followin

[2018-05-22 02:45] dillonwd6086 commented on #47
Using the decompiler, it seems that the version on Nuget is not as up to-date and does not support https

[2018-05-22 04:21] kinosang commented on #47
@dillonwd6086 use the MyGet repository

[2018-05-29 17:21] kevinchalet commented on #46
I presume your remark is about the Steam provider, right?

Here's what their ToS say:

100,000 is a lot, and you can contact them to raise this limit. Not sure adding support for multiple API keys would help, as your server IP may get eventually banned for sending so many requests.

[2018-05-29 17:22] kevinchalet commented on #47
Yep, it's been fixed in the nightly builds. RTM should ship this or next week.

[2018-05-29 19:57] shravan2x commented on #46
Yeah, I'm talking about the Steam provider.

In my case, I was well below the 100,000 calls limit. I was considering the possibility that there was some other unknown rate limit for the user endpoint alone.

[2018-06-19 00:47] #47 closed, assigned to nobody

[2018-06-19 00:49] kevinchalet commented on #47
https://twitter.com/PinpointTownes/status/1008812623884967936

[2018-08-21 20:40] shravan2x commented on #46
I can confirm that there are other unadvertised rate limits well below the 100,000 limit. Please consider including this feature in the library.

[2018-08-23 22:04] shravan2x commented on #46
@PinpointTownes Do you have an update on this? This library currently throws exceptions when I'm far below the rate limit and it's causing havoc on my program.

[code]

[2018-08-23 22:30] kevinchalet commented on #46
Did you hear back from Steam? If you hit this error without reaching the limits, that's a bug on their end.

Also, do you know if other Steam libraries (e.g for Node or Python) have a similar feature?

[2018-08-23 22:46] shravan2x commented on #46
I didn't write to Steam. This isn't an issue on their end (or at least, this is very normal behavior for all Steam endpoints). I've been working with Steam since 2011 and secret rate limits are an everyday occurence across all endpoints mobile/public/developer. They also change these fairly often.

I don't use openID libs from other languages much, but most of the others have at least some kind of

[2018-08-24 22:52] shravan2x opened #48 "Don't set auth cookie on failed sign-in"
This issue can be tagged as a `question`.

Following my issues with failed userinfo requests (from #46), I decided to add a handler for `OnTicketReceived` and make the userinfo request myself. In this handler, I make the userinfo request with multiple API keys and authenticate the user when one of them succeed. I would also like to handle the case where none of the API keys work (however unlikely

[2018-08-29 14:19] kevomacartney opened #49 "Identity not being set on successful login"
I have been having an issue where the users identity is not being set on successful login. Subsequent requests are being authorized, but i need to redirect the user to a register page if they have not yet registered. This action is decorated with the authorize and ValidateAntiForgeryTokenattributes.

If i remove the authorize but leave the ValidateAntiForgeryToken, the next request gets 400 - beca

[2018-11-18 22:52] jacobmstein opened #50 "Steam OpenID & JWTs"
When using the default JWT middleware instead of cookies I get `An unhandled exception occurred while processing the request. The authentication handler registered for scheme 'Bearer' is 'JwtBearerHandler' which cannot be used for SignInAsync.`

From `ConfigureServices`:
[code]

Is there any way to override the `/verify` callback, manually call the library to authenticate the user, then issue a JW

[2018-12-11 16:00] KristianSv opened #51 "OnAuthenticated event not firing - Can't set Identity"
There is an issue when setting Identity.
![image](https://user-images.githubusercontent.com/25365788/49812362-8fbf4000-fd65-11e8-99d1-da55cdf68bbe.png)
A breakpoint in the OnAuthenticated method is never hit, so I really can't set the Identity.
Authentication happens just fine, and CallbackPath is showed right after, as supposed.
I noticed you @kelvinmac has the same issue. Don't know if your brea

[2018-12-12 17:51] KristianSv commented on #49
Is your OnClientAuthenticated task ever run? Mine is not hit, even though authorization happens succesfully.

[2019-02-06 10:21] volvoplz commented on #50
Did you find a way to resolve this issue ?

[2019-02-06 13:19] jacobmstein commented on #50
Unfortunately not, I ended up switching to Node for better control over the call back.

[2019-02-06 14:16] kevinchalet commented on #50
The JWT middleware can't be used for issuing JWT tokens: its only mission is to validate them, which is why you get an exception when trying to use it as the `DefaultSignInScheme`.

The scenario you describe is usually achieved by adding an OpenID Connect server (OIDC):

[code]

Projects like IdentityServer (developed by Thinktecture) or OpenIddict (that I develop and maintain) can help you with t

[2019-02-06 14:31] volvoplz commented on #50
Thanks a lot @PinpointTownes

That sounds exactly like what I need but I don't really understand.

If I'm hosting an IdentityServer, I'm the one who authenticates my users. Will they still be able to log into my website with their steam accounts ? And I will be able to identify their steam info ?

[2019-02-06 14:51] kinosang commented on #50
@vlapoec IdentityServer or other OpenID Connect servers (ASOS, OpenIddict, and etc) are works well with 3rd party login, such as  OAuth and OpenID.

Please refer to Asp.Net Core Identity docs and IdentityServer docs for more information.

Simply you can just add `services.AddAuthentication().AddSteam()` and `app.UseAuthentication()` (for IdentityServer it's replaced by `app.UseIdentityServer()`)

[2019-02-06 14:56] volvoplz commented on #50
Thank you I will dig into that

[2019-03-26 21:37] nelfer opened #52 "Question: Force Request.Schema under Docker or Azure Web App (Linux)"
Hi,

I'm having an issue when I deploy an app to Azure Web App (Linux). These apps run under a Docker container. To the app, the request arrives with "http" schema. This causes a problem because when open id regenerates the redirect URL, it uses "http" instead of "https".

Do you know of a way to tell the app to use a different schema? Not the one in Request? Or to force Request.Schema to be "http

[2019-04-02 00:58] lwansbrough commented on #51
This issue can happen for a number of reasons, but one potential reason could be that your application key is null.

[2019-05-25 11:56] #8 closed

[2019-06-04 10:08] #51 closed, assigned to kevinchalet

[2019-07-31 11:28] verdie-g commented on #50
@vlapoec I'm facing the same problem. Did you manage to solve it with IdentityServer ?

[2019-07-31 22:46] proviste commented on #50
@verdie-g
I'm sorry. I did it very differently...

[2019-09-23 19:29] martincostello opened #65 "ASP.NET Core 3.0.0 release"
I've merged #53 to dev and created a new [`rel/3.0.0`](https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/tree/rel/3.0.0) branch for it.

However I'm on vacation for the next two weeks so, unless it waits until after then, I won't be able to help out with pushing the final 3.0.0 release to NuGet.org.

/cc @PinpointTownes @poke

[2019-10-04 16:40] martincostello commented on #65
~`3.0.0` packages are here: https://ci.appveyor.com/project/aspnet-contrib/aspnet-security-openid-providers/builds/27887251/artifacts~

And here's the version metadata from .NET Reflector:

![image](https://user-images.githubusercontent.com/1439341/66224476-d3f14780-e6cd-11e9-8091-8ad77c20431c.png)

And then just putting this here now and reviewing the comment, I've realised that the `[AssemblyCom

[2019-10-04 16:44] kevinchalet commented on #65
On a related note, all our packages are also incorrectly flagged as serviceable (they can't, since basically only Microsoft can service NuGet packages via Windows Update).

We'll need to fix that too.

[2019-10-04 16:47] martincostello commented on #65
Good spot - I'll look into sorting that now too. Once things look good on this, I'll port the various fixes over to OAuth as well as back to `dev`.

[2019-10-04 17:00] martincostello commented on #65
Updated candidate `3.0.0` packages here: https://ci.appveyor.com/project/aspnet-contrib/aspnet-security-openid-providers/builds/27887701/artifacts

![image](https://user-images.githubusercontent.com/1439341/66225567-a1951980-e6d0-11e9-955a-69093593fcb6.png)

![image](https://user-images.githubusercontent.com/1439341/66225610-bbcef780-e6d0-11e9-90a4-8d07134d9b29.png)

[2019-10-04 17:25] martincostello commented on #65
Release and release notes ready in GitHub too.

[2019-10-14 12:54] kevinchalet commented on #65
The 3.0.0 packages are now on NuGet.org 🎉

[2019-10-14 12:54] #65 closed, assigned to nobody

[2019-10-15 12:07] Xarkam opened #68 "OAuth with Steam and user data"
**Describe the bug**
email is used for fields UserName and NormalizedUserName in AspNetUsers table.

**Steps To reproduce**
Regsiter to sample with steam account

**Expected behaviour**
Use the Steam username and not his email because you can't modify username by IdentityUI

**Actual behaviour**
Because a picture is better than a long speech:
![image](https://user-images.githubusercontent.com/3318

[2019-10-15 12:15] martincostello commented on #68
Based on our tests, the user name (`NameIdentifier`) contains the `steamid` for the user:

https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/blob/87f10d306770b6fef4eca4e290aa7743eb7adfff/test/AspNet.Security.OpenId.Providers.Tests/Steam/SteamTests.cs#L42

Not to say that's correct, but that was the existing behaviour when I added the tests.

We don't otherwise appear to explicitly

[2019-10-15 20:34] postb99 commented on #68
Hi @martincostello I'm Xarkam's wife and just did some other successless tries, we're working together.
What we'd like to do is similar to: https://docs.microsoft.com/en-us/aspnet/core/security/authentication/social/additional-claims?view=aspnetcore-3.0
because we agree that the user name isn't known and would come from Steam, while the e-mail is stored in Identity DB. However, the Username of the

[2019-10-16 07:57] martincostello commented on #68
I'll try and have a look later this evening when I get the chance, but in the meantime if it helps, here's a link to a custom claims factory of my own I use in a website that uses our Amazon OAuth package: https://github.com/martincostello/alexa-london-travel-site/blob/master/src/LondonTravel.Site/Identity/UserClaimsPrincipalFactory.cs

[2019-10-31 15:38] postb99 commented on #68
Hi @martincostello please can you be kind and check the Identity configuration we submitted to you as you promised, as  we think something is wrong because right after successful Steam login, there is no Identity user set. So we can go forward. Thank you very much.

[2019-11-04 18:53] martincostello commented on #68
Sorry for the delay in replying.

Unfortunately without the code in question to debug and a working configuration for Stream, I'm not sure what I can do to help debug this code and find the solution for you.

The only things I can suggest are:

  1. Consider custom mapping the claims using the claims actions to re-map the claims to what you'd like then to be.
  1. Use a custom claims principal fac

[2019-11-05 11:38] postb99 commented on #68
Thanks, I will check with Identity  project then, since I have an Identity configuration issue.

[2020-01-21 04:35] kinosang opened #69 "Replace Newtonsoft.Json by System.Text.Json"

[2020-01-21 12:22] martincostello commented on #69
Resolved by #70.

[2020-01-21 12:22] #69 closed, assigned to nobody

[2020-02-06 12:13] kamilk91 opened #71 "No webpage was found for the web address: http://127.0.0.1:50000/signin-steam"
**Describe the bug**
[code]
[code]

**Expected behaviour**
Working callback path

**Actual behaviour**
404, i dont know how to create callback path which alllows me to manage data from Steam.

[2020-02-06 12:30] martincostello commented on #71
Have you also added the appropriate middlewares (and in the right order) like in the sample application?

https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/blob/f5dde16b249d57d44f09c92ecc1fdabbccdfdc10/samples/Mvc.Client/Startup.cs#L57-L69

[2020-02-16 14:30] verdie-g commented on #50
I have found another solution which is handling the redirection yourself in SteamAuthenticationOptions.Events.OnTicketReceived and passing the jwt in a query parameter. See https://stackoverflow.com/questions/59734317/return-a-jwt-after-authenticating-via-open-id.

[2020-02-16 16:35] kevinchalet commented on #50
@verdie-g looks like a super **dangerous solution**: your `RedirectUri` endpoint accepts a `token` parameter in the query string without any additional anti-forgery validation.

The lack of CSRF countermeasures in a callback endpoint typically results in a session fixation vulnerability: nothing prevents a bad guy from authenticating with his own account, extracting the JWT associated to his accou

[2020-02-16 18:00] verdie-g commented on #50
Indeed, in my case I'm forbidding CORS which I think, mitigates this security issue (?). Anyway, I should dig more into OIDC servers but it feels so overkill for the size of my project.

[2020-02-16 18:08] kevinchalet commented on #50
Nope, neither the same-origin policy nor same-site cookies will mitigate that, as the victim directly visits the vulnerable callback endpoint in the attack I described.

[2020-02-16 18:19] verdie-g commented on #50
I misread your scenario. In my case, you have nothing to gain by allowing someone else to log in your account. But my solution is really dirty anyway.

[2020-02-16 18:22] kevinchalet commented on #50
Information theft is the main risk with this attack: if your website allows the user to send personal data, you're at risk, as the data will be attached to the attacker's account.

[2020-02-16 18:23] verdie-g commented on #50
I understand. Thanks for pointing this issue.

[2020-02-16 18:31] kevinchalet commented on #50
To be honest, it's not the first time I hear someone trying to implement a custom protocol instead of using a battle-tested standard like OIDC (and well-known implementations like IdSrv or OpenIddict).

I'm considering writing a blog post introducing OpenIddict 3.0's degraded mode, which allows using OpenIddict's server without any database. It's a perfect use case for a tiny proxy between a singl

[2020-02-16 19:11] verdie-g commented on #50
I would be very interested! I have started reading OpenIddict doc which is way more clearer than IdentityServer's one, no magic everywhere. But if I have implemented my custom protocol it is mostly by pure laziness because I didn't find the article matching my use case.

[2020-02-16 19:36] volvoplz commented on #50
Well I would be interested too

On Sun, Feb 16, 2020, 13:31 Kévin Chalet <notifications@github.com> wrote:

[2020-02-18 15:41] kevinchalet commented on #50
@verdie-g @vlapoec here we go: https://kevinchalet.com/2020/02/18/creating-an-openid-connect-server-proxy-with-openiddict-3-0-s-degraded-mode/ 😄

[2020-02-18 15:46] verdie-g commented on #50
That was fast thanks! I'll read that as soon as a I can.

[2020-02-18 15:56] kevinchalet commented on #50
@verdie-g my pleasure 😄

[2020-02-18 19:11] joskraps opened #72 "Inability to send custom extensions when issuing a challenge."
**Describe the bug**
We are unable to send custom extension values when a challenge is issued. We send the client id which is supplied when the user submits the login form via a query parameter.Dotnetopenauth was able to convert to our custom extension and send to the provider.

**Steps To reproduce**

- Add openId configuration to startup, specifying the custom extension: `                options

[2020-02-18 20:02] kevinchalet commented on #72
You work for Cerner? I must confess this name doesn't bring back good memories.

A few years ago, I had the opportunity to work as a contractor for a medical company, and part of my mission was to integrate with your FHIR and SMART-based APIs. You have no idea how **painful** getting even the most basic details from your marketing department - or whatever it's called - was...

I'm really tempted t

[2020-02-22 10:39] kevinchalet commented on #50
Closing, as I believe my blog post answered the original question. If not, please add a comment and I'll give it a look.

[2020-02-22 10:39] #50 closed, assigned to nobody

[2020-02-27 17:23] kinosang opened #74 "Some dependencies are too old"
Some of the dependencies are too old, such as AngleSharp and Microsoft.IdentityModel.Protocols.

[2020-02-27 17:25] martincostello commented on #74
Some of the dependencies are intentionally been left to be “old” to increase compatibility, as consumers are able to upgrade them themselves.

The test-related ones can be kept up-to-date, with one exception which has a comment in the code as it breaks the Apple provider.

[2020-02-28 15:29] Gameghostify commented on #50
The [Cookie authentication scheme](https://docs.microsoft.com/en-us/aspnet/core/security/authentication/cookie?view=aspnetcore-3.1) here works without having to add something as heavy as asp net core identity or even identity server to your project

On that note: Does that mean we could create a custom auth scheme that implements `SignInAsync`?

[2020-02-28 15:31] Gameghostify commented on #50
I'd love to use steam authentication but keep using my own user system, without having to switch to one given by ASP.NET Core Identity/IdentityServer or implementing something like OpenIddict

[2020-02-28 15:38] kevinchalet commented on #50
@Gameghostify nothing prevents you from doing that. As you figured out, you can use the cookies authentication handler alone and build your own membership mechanism on top of that.

[2020-02-28 19:23] Gameghostify commented on #50
Thanks a lot! This seems like a very lightweight alternative (next to
OpenIddict)

Kévin Chalet <notifications@github.com> schrieb am Fr., 28. Feb. 2020,
16:38:

[2020-03-10 18:31] #72 closed, assigned to nobody

[2020-03-17 15:27] kevinchalet commented on #71
Closing, as I believe your issue was caused by a missing middleware (typically, `app.UseAuthentication()`).

[2020-03-17 15:27] #71 closed, assigned to nobody

[2020-03-17 15:27] #68 closed, assigned to nobody

[2020-03-17 15:28] #49 closed, assigned to nobody

[2020-03-17 15:31] kevinchalet commented on #48
It's definitely something that would be worth adding. Would you be interested in sending a PR to fix that?

[2020-03-17 16:22] #74 closed, assigned to nobody

[2020-03-17 16:27] kevinchalet commented on #52
Hey,

Sorry for not replying earlier, looks like your message went off the radar.
I suspect you eventually found a solution, but just in case, https://docs.microsoft.com/en-us/aspnet/core/host-and-deploy/proxy-load-balancer?view=aspnetcore-3.1 should put you on the right track.

Cheers.

[2020-03-17 16:27] #52 closed, assigned to nobody

[2020-03-17 18:02] shravan2x commented on #48
@kevinchalet That would be difficult for me to do. The project I made this issue for was shut down late last year. As such I've lost most context around it and/or a way to test. I'm also fairly busy with my newer projects.

[2020-03-27 11:56] kamilk91 opened #79 "Steam valid authentication returns to /signin-steam with parameters, and throws "Error 500" Without any information in Console."
**Describe the bug**
Sometimes (not always!!) after correct login by steam, when returning to ```signin-steam``` Error 500 is throwed.

**Steps To reproduce**
Just login by steam, with parameters:

[code]

**Expected behaviour**
Correct login, and claim claims.

**System information:**
 - OS: Windows 10, and Ubuntu (2 different builds)
 - Library Version: latest
 - .NET Core 3.0

[2020-03-27 11:57] martincostello commented on #79
Can you please provide error logs for the 500s? Otherwise there's not much to go on to help.

[2020-03-27 12:14] kamilk91 commented on #79
@martincostello I can't see any Logs... I don't know why, is your library logging errors?
BTW i saw that its 500 always when i see this confirmation screen:

![image](https://user-images.githubusercontent.com/26136300/77755098-d86b3d00-702c-11ea-8083-ba66b333fae4.png)

[2020-03-27 12:35] kamilk91 commented on #79
@martincostello  okay i have logs. It looks like some antiforgery problem, bout shouldn't it default throws 401 error?

[code]

[2020-03-27 12:36] martincostello commented on #79
My guess would be that you have Same Site issues with the OpenID connect cookie. It's probably being removed and then authentication will fail as it can't check the antiforgery token.

There's more information about it here: https://devblogs.microsoft.com/aspnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core/

If it's the case, then this is something you need to fix on your end and i

[2020-03-27 12:47] kamilk91 commented on #79
@martincostello fixed with your link. Thank you very much, ill never find that issue alone.

[2020-03-27 12:47] #79 closed, assigned to nobody

[2020-03-30 12:59] halitkalayci opened #80 "Steam Auth Connection With React?"
**Describe the bug**
I saw something about steam&jwt are not safe together. But I wanna do a react app with a asp.net core backend but I dont know how can i authorize myself in react to access my api without jwt using cookies.

[2020-03-30 13:57] kevinchalet commented on #80
See https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/issues/50#issuecomment-587524497.

[2020-03-30 13:57] #80 closed, assigned to nobody

[2020-03-30 15:24] halitkalayci commented on #80
Great work dude!

I have one question tho, Is the output code is raw jwt or not? I can not decode it. If I want to how can i decode that?

[2020-03-30 15:32] kevinchalet commented on #80
OpenIddict 3.0 issues encrypted JWT access tokens by default. To disable encryption, you can call `options.DisableAccessTokenEncryption()` in the server options.

[2020-03-31 18:46] halitkalayci opened #81 "Login Uri with ReturnUrl parameter?"
### Provider name

Steam Authentic.

### Expected behavior

I have a route called Privacy which has
` [Authorize(AuthenticationSchemes = CookieAuthenticationDefaults.AuthenticationScheme)]`
value.
Whenever i want to access it without authorization it returns me to this url:
`localwebsiteadress/authentication/login?ReturnUrl=%2FHome%2FPrivacy`
This is login action in authentication controller:
`

[2020-04-03 04:12] kinosang opened #82 "Completely remove JSON.NET reference"
* [ ] Bump the Wilson packages to 6.7.0
* [ ] Remove obsoleted `JObject User`
* [ ] Remove JSON.NET

[2020-05-26 09:00] kamilk91 commented on #71
Hi, i have to re-open issue.

Now i have Kestrel Server, fully configured with your tips. Problem is (propably) that im using Nginx reverse proxy, and it begins again:

![image](https://user-images.githubusercontent.com/26136300/82881117-8e74d980-9f3f-11ea-8032-191c00460eee.png)

My configuration:
**Startup:**

[code]

**Program.cs**

[code]

If user is **Logged into steam** redirection after taki

[2020-05-26 09:02] kamilk91 opened #85 "After sign in by Steam App (for not logged in Steam Users) tries to redirect to 127.0.0.1:50000 (again)"
Hi, i have to re-open issue.

Now i have Kestrel Server, fully configured with your tips. Problem is (propably) that im using Nginx reverse proxy, and it begins again:

![image](https://user-images.githubusercontent.com/26136300/82881117-8e74d980-9f3f-11ea-8032-191c00460eee.png)

My configuration:
**Startup:**

[code]

**Program.cs**

[code]

If user is **Logged into steam** redirection after taki

[2020-05-26 09:27] martincostello commented on #71
Have you configured nginx and/or Kestrel appropriately to forward on the host header and to be a trusted proxy for headers like `x-forwarded-for` and `x-forwarded-proto`?

[2020-06-28 06:32] kinosang commented on #85
This is unrelated to authentication providers.

Google `Asp.Net Core reverse proxy` then you'll find why and how.

[2020-08-13 12:13] arran-nz opened #95 "Anti-forgery Token Invalid Solution - Chrome 84"
In newer versions of Chrome when authenticating with Steam, the correlation cookie is not sent back.

The correlation cookie must be set to `Secure` for `SameSite:Lax` for it to be returned.

This can be achieved by the adding the following in `Startup.cs`:
[code]

Is there any possibly to set `Secure` to `Always` by default?

[2020-08-13 12:16] arran-nz commented on #95
Chrome changes: https://venturebeat.com/2020/07/14/google-chrome-84/

[2020-08-13 17:55] martincostello commented on #95
These properties come via our derived classes and dependency on ASP.NET Core itself, which _should_ correctly configure cookies for Same Site provided that you are using a new enough version of ASP.NET Core: https://devblogs.microsoft.com/aspnet/upcoming-samesite-cookie-changes-in-asp-net-and-asp-net-core/

What version of the package are you using? What version of ASP.NET Core are you using?

As

[2020-08-18 11:51] arran-nz commented on #95
Thank you for the info and clarification. Will be updating ASP.NET Core.

[2020-08-18 11:51] #95 closed, assigned to nobody

[2020-09-01 09:11] WarnsdorfM opened #96 "Return Steam Session ID"
For calling certan services in Steam API I need the steamcommunity session ID. (g_SessionID on their site) is this posible and how is it posible with this module, can it be made posible?

[2020-09-01 09:11] #96 closed, assigned to nobody

[2020-09-01 09:15] WarnsdorfM opened #97 "Return Steam SessionID"
For calling certan services in Steam API I need the steamcommunity session ID. (g_SessionID on their site) is this posible and how is it posible with this module, can it be made posible?

[2020-09-01 11:37] martincostello commented on #97
I would imagine the Steam API documentation would contain the information about how to get the session Id (if it's possible).

That would then determine if/how it could be achieved with the provider.

[2020-09-16 12:24] martincostello opened #98 "ASP.NET 5 Support"
Support for ASP.NET 5 will be available for the currently shipping OpenID providers soon after the final .NET 5.0 release ships in November 2020.

In the meantime, packages for ASP.NET 5 RC1 are available from our [MyGet feed](https://www.myget.org/gallery/aspnet-contrib) starting with version `5.0.0-rc.1.20466.50`.

[2020-09-21 19:00] RestoreMonarchy opened #99 "Steam sign in works after second try"
**Describe the bug**
When I try to sign in to my website through Steam, each time I have to repeat twice to make it actually sign in me in.  Looks like on the gif below and is very similar to issue #79 but I applied the solution from it tho still having this problem.
Also I'm not having this issue when I run the website locally.

![](https://i.imgur.com/exkCJV1.gif)

**Code**
Startup
[code]

**Sys

[2020-09-26 20:17] RestoreMonarchy commented on #99
Fixed it by adding
[code]
in ConfigureServices in `Startup.cs`

[2020-09-26 21:24] RestoreMonarchy commented on #99
Never mind, still happening.

[2020-10-07 08:23] raminmjj opened #101 "How to use options pattern in service registration?"
I try like this:
[code]
I've got this error:"ArgumentException: The authority or an absolute metadata endpoint address must be provided. (Parameter 'options')"
what is wrong?
thank you.

[2020-10-13 21:19] martincostello commented on #98
Packages for ASP.NET 5 RC2 are available from our [MyGet feed](https://www.myget.org/gallery/aspnet-contrib) starting with version `5.0.0-rc.2.20513.85`.

[2020-10-15 00:16] #5 closed

[2020-10-15 00:16] #7 closed

[2020-10-28 19:31] DeathTBO opened #104 "Newtonsoft Json assembly manifest mismatch?"
Using Providers version 3.1.0, and DotNet Core 3.1

I'm developing an Electron.Net application to pair with a website. I've already implemented OpenID and Steam login with no issues on the Asp.Net Core website, but I'm running into issues on the Electron client. I started by copying the the implementation for the website (which is rather straightforward). The one difference was I had to turn NodeI

[2020-10-28 19:39] martincostello commented on #104
Newtonsoft.Json has been removed from our 5.0.0 branch for the next major release, but it is still referenced as part of the 3.x packages shipped from this repo. Removing it between 3.0 and 3.1 would have been a breaking change due to `JObject` being in the public API surface area, so it was just deprecated as part of 3.1.

https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/blob/fe

[2020-10-28 20:24] DeathTBO commented on #104
Rather strange. I decided to try publishing a release build (electronize build), and it worked as expected. The electron system first builds into a normal release, then builds that into an AppImage file (I'm on Linux). However using the electronize start method does not work. The file structure for the AppImage build is completely different than the release/debug and electronize start.

I ran chec

[2020-10-28 20:24] #104 closed, assigned to nobody

[2020-11-10 16:17] martincostello commented on #98
Packages for ASP.NET 5 are now available from NuGet.org.

[2020-11-11 12:55] #98 closed, assigned to martincostello

[2021-01-03 02:52] Hona opened #107 "[Question] How to get the user's Steam ID"
Is this available as a claim?

[2021-01-03 03:01] Hona commented on #107
It probably should be noted that I want to port this code to C# https://github.com/momentum-mod/website/blob/staging/server/config/express.js#L93-L121

It essentially checks if the Steam user has setup a profile, and that is is a premium account.

[2021-01-03 12:38] kinosang commented on #107
use `ClaimTypes.NameIdentifier`, it's a URL which contains Steam ID (64).

[2021-01-04 03:29] #107 closed, assigned to nobody

[2021-01-04 03:32] Hona opened #108 "[Question] How to get the user profile object after authentication"

[2021-01-04 07:46] martincostello commented on #108
Use the `OnAuthenticated` event.

https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/blob/49d4cb73d5c6c0901b55ab9f7df7b74e8241823f/src/AspNet.Security.OpenId/OpenIdAuthenticationEvents.cs#L23

[2021-01-04 17:33] #108 closed, assigned to nobody

[2021-01-04 17:35] kevinchalet commented on #107
@Hona when nice people take some time to help you, you could at least thank them... no? 😕

[2021-01-04 21:54] kinosang commented on #99
Maybe you have to set your cookies essential by setting `IsEssential = true`.

[2021-01-04 21:59] RestoreMonarchy commented on #99
I finally found a way to solve it. I had to do 2 changes in my Service configuration.
1. I set service to be ran by User root
2. Run app only on https, so `--urls="https://localhost:5042"`

[code]

[2021-01-04 21:59] #99 closed, assigned to nobody

[2021-05-07 21:39] ghost opened #110 "CallbackPaths not defined"
**Describe the bug**
Sample project `Mvc.Client` does not work because the callback paths are not defined (e.g. `"/signin-stackexchange"`)

**Steps To reproduce**
Run `Mvc.Client` and click `Connect using StackExchange`, enter credentials.

**Expected behaviour**
The sample should "work". It should contain a sample implementation for the callback routes.

**Actual behaviour**
After logging in to O

[2021-05-08 20:17] Coke21 opened #111 "Blazor Wasm + Web API -> how to return Steam details to Blazor WASM"
### Provider name

Hi, I'm working on Blazor Wasm + Web API. In Blazor Wasm, the user can click the button to authenticate their SteamId to use the website.

### How it works

This is how it works at the moment:
1. User clicks the button to use their SteamId to use the website
2. I call my Web API to access the Steam website, the user authenticates.
3. The Web API has the Steam details.
4. The que

[2021-05-08 23:18] kevinchalet commented on #110
The OpenID provider handles these requests for you. The issue was caused by a same-site issue with the antiforgery. I fixed it by enabling TLS to ensure `lax` can be used for the antiforgery cookie: https://github.com/aspnet-contrib/AspNet.Security.OpenId.Providers/commit/a5b16422a07c9652c3dc89fbf13ec71dbc974554.

[2021-05-08 23:18] #110 closed, assigned to kevinchalet

[2021-05-09 19:05] ghost commented on #110
I have no clue what `lax` is but it works now. Thanks!

[2021-05-11 12:15] Coke21 commented on #111
I've decided to close this issue. Although I still didn't figure out how to pass this info to Blazor Wasm, I have found an excellent repository on this issue https://github.com/RestoreMonarchy/UnturnedStore . If I'm not mistaken, he even made an issue in this library.
RestoreMonarchy used Blazor Wasm and Server for Steam authentication.
* Blazor Wasm has only pages and for the authentication for B

[2021-05-11 12:15] #111 closed, assigned to nobody

[2021-05-27 21:41] Coke21 opened #113 "Blazor Server app doesn't find/execute the login endpoint when tested outside of Visual Studio"
Hi, I've deployed a Blazor Server + Blazor Wasm apps to Heroku. Blazor Wasm calls one of the endpoints to login using Steam from Blazor Server. For some weird reason, this works when testing locally, however, when I pushed the app to Heroku it stops working (the page goes to `/api/users/login` endpoint and displays 404, not found). When I tested it locally, I pressed the button to authenticate usi

[2021-05-29 19:52] Coke21 commented on #113
Okay, I have finally found the answer to why this was happening. It's PWA's fault.
https://stackoverflow.com/questions/67452439/blazor-webassembly-app-api-call-from-browser-sorry-theres-nothing-at-this
This person had the same issue as I.
The solution is to either:
* remove PWA from index.html (Client side) -> remove: `<script>navigator.serviceWorker.register('service-worker.js');</script>`
* or u

[2021-05-29 19:52] #113 closed, assigned to nobody

[2021-06-07 09:47] vshlmahalingam commented on #50
@kevinchalet  Need to Use E2E encryption in Openiddict 3.0 instead of using a default Password hashing....Is there is a way to do it?

[2021-06-12 09:59] martincostello opened #114 "ASP.NET Core 6 Support"
Support for ASP.NET Core 6 will be available for the currently shipping OpenID providers soon after the final .NET 6.0 release ships in November 2021.

In the meantime, packages for ASP.NET Core 6 are available from our [MyGet feed](https://www.myget.org/gallery/aspnet-contrib) starting with version `6.0.0-preview.4.21312.40` for .NET 6 preview 4.

[2021-07-02 13:11] #13 closed

[2021-10-13 22:15] jacobmstein commented on #50
I ended up revisiting this a while later, and I really appreciate the blog post. Thank you!

I would like to just allow users to login using a SPA, and if authenticated properly, store the info in a databse, and redirect back to my SPA and display a success message. That's it, in which case I don't need to use JWTs. In that case would it be safe to override `OnTicketReceived`, as long as I ensure

[2021-11-08 08:53] martincostello commented on #114
Packages for .NET 6 are now available from NuGet.org:

* [AspNet.Security.OpenId 6.0.0](https://www.nuget.org/packages/AspNet.Security.OpenId/6.0.0)
* [AspNet.Security.OpenId.Steam 6.0.0](https://www.nuget.org/packages/AspNet.Security.OpenId.Steam/6.0.0)

[2021-11-08 08:53] #114 closed, assigned to martincostello

[2021-11-08 09:14] LeaFrock commented on #101
Your problem seems not related to this project. The error means that your configuration of OIDC lacks the required setting called `Authority`, which is your identity provider.
If you're using `Microsoft.AspNetCore.Authentication.OpenIdConnect`, the library provides a series of extension methods called `AddOpenIdConnect`, and you can set all your config by `OpenIdConnectOptions`. You don't need to

[2021-11-12 10:09] martincostello commented on #101
Closing due to inactivity.

[2021-11-12 10:09] #101 closed, assigned to nobody

[2021-11-12 10:09] martincostello commented on #97
Closing due to inactivity.

[2021-11-12 10:09] #97 closed, assigned to nobody

[2021-11-12 10:09] martincostello commented on #85
Closing due to inactivity.

[2021-11-12 10:09] #85 closed, assigned to nobody

[2021-11-12 10:10] martincostello commented on #82
Resolved by #88.

[2021-11-12 10:10] #82 closed, assigned to nobody

[2021-11-12 10:10] martincostello commented on #81
Closing due to inactivity.

[2021-11-12 10:10] #81 closed, assigned to nobody

[2021-11-12 10:11] martincostello commented on #46
Closing due to inactivity.

[2021-11-12 10:11] #46 closed, assigned to nobody

[2022-02-17 17:56] martincostello opened #122 "ASP.NET Core 7 Support"
Support for ASP.NET Core 7 will be available for the currently shipping OpenID providers soon after the final .NET 7.0 release ships in November 2022.

In the meantime, packages for ASP.NET Core 7 are available from our [MyGet feed](https://www.myget.org/gallery/aspnet-contrib) starting with version `7.0.0-preview.1.22117.72` for .NET 7 preview 1.

[2022-03-02 23:06] Shriio commented on #49
Was this ever resolved?

[2022-10-25 15:29] ashkan-saeedi-mazdeh opened #138 "Is there any way I can login to asp.net using an API using a steam token"
### Provider name
Steam
_State which provider(s) you are experiencing an issue with._
no issues but a  question

I want to login to my asp.net app using the steam user token i get from the steam client in my game
Is there any way I an write an api to do that instead of going with the web based flow?

[2022-10-25 16:37] kevinchalet commented on #138
https://kevinchalet.com/2020/02/18/creating-an-openid-connect-server-proxy-with-openiddict-3-0-s-degraded-mode/ should put you on the right track.

[2022-10-25 16:37] #138 closed, assigned to nobody

[2022-11-07 19:50] martincostello commented on #122
Packages that support ASP.NET Core 7 are now available from NuGet.org.

[2022-11-07 19:50] #122 closed, assigned to nobody

[2022-11-08 19:04] #48 closed, assigned to nobody

[2022-11-28 22:59] Naliath opened #141 "Issues trying to get the AddSteam command to work with .NET 7 Angular SPA template"
**Describe the bug**
Unable to add steam auth to ASP.NET 7 + Angular app

**Steps To reproduce**
dotnet new angular, add package. Next manual step add a new lib with the steam code

**Expected behaviour**
I would exect the AddSteam extension method to be available but it is not. When I manually add the project to get the extension method available I would assume the callback is registered and avai